<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.sportapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.newUserActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Nouvel utilisateur"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MaterielsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Matériels disponibles"
            android:parentActivityName=".activity.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".activity.ObjectifsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Objectifs et disponibilités"
            android:parentActivityName=".activity.MaterielsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MaterielsActivity" />
        </activity>
        <activity
            android:name=".activity.FinInscriptionActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Fin de l&apos;inscription"
            android:parentActivityName=".activity.ObjectifsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ObjectifsActivity" />
        </activity>
        <activity
            android:name=".activity.ProfilActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Profil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Settings"
            android:parentActivityName=".activity.ProfilActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProfilActivity" />
        </activity>
        <activity
            android:name=".activity.ExerciceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReposActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TempoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FinActivity"></activity>
    </application>

</manifest>