<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.sportapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->

        <activity
            android:name=".Info1Activity"
            android:icon="@mipmap/ic_launcher"
            android:label="Informations (1/2)"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Info2Activity"
            android:icon="@mipmap/ic_launcher"
            android:label="Informations (2/2)"
            android:parentActivityName=".Info1Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Info1Activity" />
        </activity>
        <activity
            android:name=".ObjectifsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Objectifs et disponibilités"
            android:parentActivityName=".Info2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Info2Activity" />
        </activity>
        <activity
            android:name=".FinInscriptionActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Fin de l&apos;inscription"
            android:parentActivityName=".ObjectifsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObjectifsActivity" />
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Profil">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Connexion"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>