<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.sportapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.Info1Activity"
            android:icon="@mipmap/ic_launcher"
            android:label="Informations (1/2)"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Info2Activity"
            android:icon="@mipmap/ic_launcher"
            android:label="Informations (2/2)"
            android:parentActivityName=".activity.Info1Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Info1Activity" />
        </activity>
        <activity
            android:name=".activity.ObjectifsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Objectifs et disponibilités"
            android:parentActivityName=".activity.Info2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Info2Activity" />
        </activity>
        <activity
            android:name=".activity.FinInscriptionActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Fin de l&apos;inscription"
            android:parentActivityName=".activity.ObjectifsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ObjectifsActivity" />
        </activity>
        <activity
            android:name=".activity.ProfilActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Profil" />
    </application>

</manifest>